html,
body {
	background-color: #333333;
}

.container {
	position: relative;
	/*position: absolute;*/
	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 10px;
}

.logo {
	display: inline-block;
	/*margin: 2rem 0 0;*/
	border-radius: 50%;
	width: 160px;
	height: 160px;
	border: 7px solid #FFFFFF;
	box-shadow: 0px 0px 20px 2px #fff59d;
	
	-webkit-transform-origin:center center;
    -moz-transform-origin:center center;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.hotel {
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 0px 7px 1px #fff59d;
}

.logo:hover {
	width: 200px;
	height: 200px;
	box-shadow: 0px 0px 1px #9D9D9D;
}

a:link {
	text-decoration: none;
	color: #fd0;
}


/* 未访问的链接 */

a:visited {
	text-decoration: none;
	color: #fd0;
}


/* 已访问的链接 */

a:hover {
	text-decoration: none;
	color: #fd0;
}


/* 鼠标移动到链接上 */

a:active {
	text-decoration: none;
	color: #fd0;
}


/* 选定的链接 */

.phoneNo {
	margin: 2rem auto;
	padding: 0.1rem 0;
	display: inline-block;
	width: 15rem;
	background-color: #444444;
	vertical-align: middle;
	border-radius: 7px;
	font-size: 21px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	transition: all 0.25s;
	color: #fc0;
	text-decoration: none;
	cursor: auto;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

.alert {
	margin: 2rem auto;
	width: 15rem;
	vertical-align: middle;
	border-radius: 7px;
	font-size: 24px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	transition: all 0.25s;
	color: #333333;
	text-decoration: none;
	cursor: auto;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	width: 80%;
	height: 60px;
	background: #E5E5E5;
	left: 10%;
	position: fixed;
}

.phoneNo:hover {
	color: #fd0;
}

* {
	-webkit-user-select: auto;
}