* {
	margin: 0;
	padding: 0;
}
.wrap {
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	perspective: 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 0px;
	-moz-transform-style: preserve-3d;
	-moz-perspective: 0px;
	animation: mydhua 5s ease infinite;
	-webkit-animation: mydhua 5s ease infinite;
	-moz-animation: mydhua 5s ease infinite;
}

.box{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	line-height: 200px;
	text-align: center;
	font-size: 48px;
	color: white;
}
/*左右上下后前*/
.box1 {
	transform: rotatey(90deg) translatez(-100px);
	-webkit-transform: rotatey(90deg) translatez(-100px);
	-moz-transform: rotatey(90deg) translatez(-100px);
	background: rgba(128, 0, 128, .5);
}

.box2 {
	transform: rotatey(90deg) translatez(100px);
	-webkit-transform: rotatey(90deg) translatez(100px);
	-moz-transform: rotatey(90deg) translatez(100px);
	background: rgba(255, 0, 255, .5);
}

.box3 {
	transform: rotatex(90deg) translatez(100px);
	-webkit-transform: rotatex(90deg) translatez(100px);
	-moz-transform: rotatex(90deg) translatez(100px);
	background: rgba(255, 153, 204, .5);
}

.box4 {
	transform: rotatex(90deg) translatez(-100px);
	-webkit-transform: rotatex(90deg) translatez(-100px);
	-moz-transform: rotatex(90deg) translatez(-100px);
	background: rgba(0, 204, 255, .5);
}

.box5 {
	transform: translatez(-100px);
	-webkit-transform: translatez(-100px);
	-moz-transform: translatez(-100px);
	background: rgba(153, 204, 255, .5);
}

.box6 {
	transform: translatez(100px);
	-webkit-transform: translatez(100px);
	-moz-transform: translatez(100px);
	background: rgba(0, 255, 255, .5);
}

@keyframes mydhua {
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		transform-origin: center center;
	}
	30% {
		transform: rotateX(-45deg) rotateY(360deg) rotateZ(45deg);
		transform-origin: center center;
	}
	60% {
		transform: rotateX(270deg) rotateY(360deg) rotateZ(135deg);
		transform-origin: center center;
	}
	100% {
		transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		transform-origin: center center;
	}
}

@-webkit-keyframes mydhua {
	0% {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-webkit-transform-origin: center center;
	}
	30% {
		-webkit-transform: rotateX(-45deg) rotateY(360deg) rotateZ(45deg);
		-webkit-transform-origin: center center;
	}
	60% {
		-webkit-transform: rotateX(270deg) rotateY(360deg) rotateZ(135deg);
		-webkit-transform-origin: center center;
	}
	100% {
		-webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		-webkit-transform-origin: center center;
	}
}

@-moz-keyframes mydhua {
	0% {
		-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
		-moz-transform-origin: center center;
	}
	30% {
		-moz-transform: rotateX(-45deg) rotateY(360deg) rotateZ(45deg);
		-moz-transform-origin: center center;
	}
	60% {
		-moz-transform: rotateX(270deg) rotateY(360deg) rotateZ(135deg);
		-moz-transform-origin: center center;
	}
	100% {
		-moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
		-moz-transform-origin: center center;
	}
}